@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&display=swap');

/* generic styles */
.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.end {
    justify-content: end;
}

.start {
    justify-content: start;
}

button:focus {
    outline: none;
}

ul {
    list-style: none;
}

a {
    color: #293135;
}

a:hover {
    text-decoration: none;
    color: #fc7753;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #293235;
}

.m-header {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.sub-header {
    font-weight: 300;
    font-size: 22px;
}

.pad-t {
    padding-top: 50px;
}

.pad-b {
    padding-bottom: 50px;
}

.orange-bg {
    background: #fc7753;
}

.green-bg {
    background: #03363D;
}

.white-txt {
    color: #fff;
}

.padding60-0 {
    padding: 60px 0;
}

.page-padding {
    padding: 5rem 10rem;
}

.text-orange {
    color: #fc7753;
}

form {
    width: 100%;
}

hr {
    border-top: 1px solid #293135;
}

.orange-hr {
    border-top: 1px solid #fc7753;
}

.max-100 {
    max-width: 100%;
}

.transparent {
    background: transparent;
}

/* Main button effect */
.circle-hover {
    transition: all .2s ease-in-out;
}
  
.circle-hover:after {
    content: '';
    position: absolute;
    top: 0;
    right: 15px;
    width: 43px;
    height: 42px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fc7753;
    transition: all .2s ease-in-out;
}
  
.circle-hover:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}
  
/* scroll to top btn */
.to-top-btn  {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fc7753;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    font-size: 17px;
    width: 45px;
    height: 45px;
}

.to-top-btn::after {
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
}


/* header */
.main-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 35px 30px;
}

.header-top img {
    width: 100%;
    max-width: 130px;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.main-nav .nav-elements a {
    margin: 0 15px;
    font-size: 15px;
    color: #03363D;
    transition: all .5s;
}

.main-nav .nav-elements a:hover {
    color: #fc7753;
}

.hamburger {
    border: 0;
    border-radius: 50%;
    margin-left: 15px;
}

.hamburger i {
    padding: 10px 7px;
    font-size: 20px;
}

  
  /* Dropdown styles */
.dropbtn {
    background: none;
    color: #293135;
    border: none;
    margin: 0 15px;
    transition: all .5s;
}

.dropbtn:hover, .dropbtn:focus {
    color: #fc7753;
}
  
.dropdown-wrapped {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 165px;
    right: -50px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    top: 40px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e6e7e1;
}

.show {
    display:block;
}


/* sidebar */

.start-search {
    position: absolute;
    bottom: 2rem;
    left: -4rem;
    display: flex;
    flex-direction: row;
    color: #fc7753;
    align-items: center;
    z-index: 10;
}

.start-search h6 {
    font-size: 12px;
    margin: 0;
}

.rotate {
    transform: rotate(-90deg);
}

.arrow-img {
    transform: rotate(90deg);
    margin-right: 3rem;
}
  


/* hero page */

.hero-page {
    background: #f7f4ef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header {
    font-size: 52px;
}

.search-wrapped {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.search {
    border: 0;
    border-radius: 50%;
    margin-left: 15px;
}

.search::after {
    top: 189px;
    right: 14px;
    width: 39px;
    height: 39px;
}

.search i {
    padding: 10px 5px;
    font-size: 15px;
}

.search-box {
    border: 1px solid #7C9088;
    border-radius: 25px;
    font-size: 15px;
    width: 60%;
    color: #293135;
    padding: 5px 15px;
}

.hero-image img {
    max-width: 70%;
}

.orange-line {
    border-bottom: 4px solid #fc7753;
    width: 55%;
    position: absolute;
    top: 9rem;
    z-index: 10;
    left: 6rem;
}

/* Transparent Recruitment */

.tr-img {
    max-width: 100%;
}

.tr-img img {
    width: 100%;
}

.tr-text-container {
    padding: 5rem 10rem;
}

.tr-text-container h3{
    font-size: 25px;
}

.white-hr {
    border: 0.5px solid #fff;
}

.pt-2r {
    padding-top: 2rem;
}

.circle-outline {
    border: 1px solid #fc7753;
    background: transparent;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
}

.circle-outline i {
    color: #fc7753;
}

.small-btn p {
    font-size: 15px;
}

.t-rec-link a p{
    color: #fff !important;
    transition: all .5s;
}

.t-rec-link a p:hover {
    color: #fc7753 !important;
}

/* Experts */


.card {
    background: transparent;
    border: none;
}

.card-body {
    flex: 0;
    background: #f7f4ef;
}

.card-text {
    font-size: 11px;
}

.cards-link p{
    font-size: 11px;
}

.cards-link i {
    font-size: 13px;
}

.card-list hr {
    border-top: 1px solid #293135;
    margin: 0;
}

.card-list a {
    color: #293135;
    font-size: 11px;
    display: block;
    padding: 10px 0;
    transition: all .5s;
}

.off-white-bg {
    background: #f7f4ef;
}

.off-white-bg:hover {
    color: #fc7753 !important;
    background-color: #e6e7e1;
}

.card-list .icon {
    font-size: 13px;
}

/* Top Talent */
.tt-main-row {
    max-width: 100%;
}

.talent-text-container {
    padding: 5rem 6rem;
}

/* Best Companies */

.best-companies {
    padding: 5rem 0;
}

.best-comp-left {
    max-width: 80%;
}

.b-img-left {
    position: relative;
}

.b-img-left img {
    position: absolute;
    right: 0;
}


.best-img {
    padding-left: 0;
    position: relative;
    right: -15px;
}

.best-img img {
    width: 95%;
    position: relative;
}

.best-text-container {
    padding: 5rem 8rem 0 7rem;
}

.best-right {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.play-btn {
    position: absolute;
    background: #fc7753;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 10rem;
    left: 22rem;
}

.play-btn::after {
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

.play-btn i {
    font-size: 25px;
    color: #fff;
    padding-left: 5px;
}

/* Latest Roles */
.latest-page-padding {
    max-width: 100%;
    padding: 0 10rem;
    margin-bottom: 5rem;
}

.lr-sub {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
}

.card-content {
    padding: 10px 20px;
}

.slide-container {
    margin: 0 10rem;
}

.latest-roles-title {
    margin-bottom: 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.latest-roles-wage {
    font-weight: 600;
    color: #17494D;
    font-size: 11px;
}

.latest-roles-text {
    font-weight: 300;
    color: #17494D;
    font-size: 11px;
    margin-bottom: 0;
}

.lr-card {
    transition: all .25s;
    border-radius: 0%;
    cursor: pointer;
    border: 1px solid #f7f4ef;
    background: #f7f4ef;
}

.lr-card:hover {
    border: 1px solid #fc7753;
}

.lr-hidden {
    color: #f7f4ef;
    cursor: pointer;
}

.latest-roles-controls {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.latest-roles-controls a i {
    color: #293135;
    transition: all .5s;
}

.latest-roles-controls a i:hover {
    color: #fc7753;
}

.col-sm-3 {
    padding-right: 2px;
    padding-left: 2px;
}

/* Reviews */
.review-card-img {
    width: 50%;
}

.review-card-body {
    padding: 0;
    text-align: left;
}

.review-card-body h5 {
    font-size: 18px;
}

.review-name {
    font-size: 16px;
}

.review-role {
    font-size: 17px;
}

/* Latest Insights */

.latest-insights {
    background: #f7f4ef;
}

.self-employed-card {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333%;
    position: relative;
}

.self-employed-card img {
    width: 100%;
    overflow: hidden;
}

.insight-card {
    padding-top: 3rem;
}

.insight-card-wrapped {
    position: absolute;
    top: 0;
    color: #fff;
    width: 90%;
    height: 100%;
}

.insight-card-wrapped small {
    font-size: 10px;
}

.insight-card-wrapped h5 {
    font-size: 25px;
    line-height: 1.5;
    padding: 5px 0;
}

.insight-card-wrapped p {
    font-weight: 200;
    font-size: 16px;
}

.insight-card-btn {
    position: absolute;
    bottom: 30px;
}

.insight-card-txt {
    position: absolute;
    top: 40px;
}

.insight-btn-txt {
    font-size: 12px !important;
    color: #fff;
    transition: all .5s;
}

.insight-btn-txt:hover {
    color: #fc7753;
}
/* Contact Us */

.contact-us-wrapped {
    margin: 7rem 0;

}

.conversation-text {
    font-family: 'Oxygen', sans-serif;
    font-size: 3.75rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

.lets-talk {
    width: 55%;
    font-weight: 400
}

/* Footer */
footer {
    width: 100%;
    background: #fff;
}

.footer-cards-wrapped {
    padding: 3rem 10rem;
}

.copyright-wrapped {
    padding: 0 10rem;
}

.copyright-wrapped p {
    font-size: 10px;
}

.inline {
    display: inline-flex;
}

.list-group-item {
    padding: 0.5rem 0;
    font-size: 12px;
    border: 1px solid #293135;
}

.list-group-item a {
    width: 100%;
}

.white-bg {
    background: #fff;
    transition: all .5s ease-in;
}

.white-bg:hover {
    color: #fc7753 !important;
}

.send-newsletter {
    border: 0;
    border-radius: 50%;
    padding: 3px 6px 2px 7px;
    background: #293135;
    transition: all .5s;
}

.newsletter-input {
    border: 1px solid #7C9088;
    border-radius: 25px;
    font-size: 12px;
    width: 75%;
    color: #293135;
    padding: 5px 15px;
}

.footer-content-wrapped p{
    font-size: 12px;
}

.footer-content-wrapped a i {
    font-size: 20px;
}

.send-newsletter:hover {
    background: #fc7753;
}

.footer-social-icons i {
    padding-left: 1rem;
}

.web {
    display: flex;
}

.mobile {
    display: none;
}
/* media queries */

@media (max-width: 1199.98px) {
    /* hero quiz */
    .hero-image img {
        max-width: 80%;
    }

    .orange-line {
        top: 8rem;
    }
    /* Transparent Rec */
    .tr-text-container {
        padding: 2rem 7rem;
    }

    .tr-text-container h3 {
        font-size: 22px;
    }

    .sub-header {
        font-size: 17px;
    }    

    /* talent */
    .talent-text-container {
        padding: 3rem 6rem;
    }

    /* best companies */
    .play-btn {
        bottom: 8rem;
        left: 17rem;
    }

    .best-header {
        font-size: 22px;
    }

    .small-btn p {
        font-size: 12px;
    }

    /* latest roles */
    .lr-sub {
        font-size: 13px;
    }

    .latest-roles-wage {
        font-size: 9px;
    }

    .latest-page-padding {
        margin-bottom: 3rem;
    }

    /* reviews */
    .reviews-header {
        font-size: 25px;
    }

    /* latest insights */
    .insight-card-txt {
        top: 15px;
    }

    .insight-card-wrapped h5 {
        font-size: 15px;
        line-height: 1.2rem;
    }

    .insight-card-wrapped p {
        font-size: 12px;
    }

    .insight-card-btn {
        bottom: 12px;
    }

    /* contact us */

    .conversation-text {
        font-size: 2.75rem;
        margin-bottom: 3rem;
    }

    .lets-talk {
        font-size: 13px;
    }

    .contact-us-wrapped {
        margin-bottom: 5rem !important;
    }

    /* footer */
    .card-list a {
        font-size: 9px;
    }

    .footer-content-wrapped a i {
        font-size: 16px;
    }

    .footer-content-wrapped p {
        font-size: 9px;
        margin-bottom: 0 !important;
    }

    .newsletter-input {
        font-size: 9px;
    }

    .copyright-wrapped p {
        font-size: 7px;
        margin-bottom: 0.25rem;
    }
}

@media (max-width: 991.98px) {
    /* header */
    .header-top img {
        max-width: 85px;
    }

    .main-nav .nav-elements a {
        margin: 0 12px;
        font-size: 13px;
    }

    .dropbtn {
        margin: 0px 12px;
        font-size: 13px;
    }

    .hamburger {
        margin-left: 10px;
    }

    /* hero */

    .hero-header {
        font-size: 40px;
    }

    .sub-header {
        font-size: 15px;
    }

    .search-box {
        font-size: 10px;
    }

    .search {
        margin-left: 5px;
    }

    .search i {
        font-size: 12px;
    }

    .search::after {
        top: 168px;
        right: 15px;
        width: 34px;
        height: 34px;
    }

    /* transparent req */
    .tr-text-container {
        padding: 2rem 3rem;
    }

    /* Experts */
    .page-padding {
        padding: 5rem;
    }

    .right {
        margin-right: 20px !important;
    }

    .left {
        margin-left: 20px !important;
    }

    .card-text {
        font-size: 10px;
    }

    .cards-link {
        padding: 0 !important;
    }

    /* talent */

    .talent-text-container {
        padding: 1rem 2rem 1rem 3rem;
    }

    .talent-header {
        font-size: 22px;
    }
    
    /* best companies */

    .b-img-left {
        display: none;
    }

    .best-img img {
        width: 84%;
    }

    .best-img {
        right: 45px;
        width: 100%;
    }

    .play-btn {
        bottom: 9rem;
        left: 26rem;
    }

    .best-text-container {
        padding: 5rem 3rem 0 5rem;
    }


    .latest-page-padding {
        padding: 0 4rem;
    }    

    .latest-roles-text {
        font-size: 9px !important;
    }

    .latest-roles-wage {
        font-size: 8px;
    }

    /* talent */
    .slide-container {
        margin: 0 4rem;
    }
    /* reviews */

    .page-padding {
        padding: 3rem;
    }

    /* footer */

    .footer-cards-wrapped {
        padding: 3rem;
    }

    .footer-social-icons i {
        padding-left: 10px;
    }

    .footer-content-wrapped h4 {
        font-size: 15px;
        margin-bottom: 10px !important;
    }

    .mt-4 {
        margin-top: 1rem !important;
    }

    .card-list a {
        font-size: 8px;
        padding: 5px 0;
    }

    .footer-content-wrapped p {
        font-size: 8px;
    }

    .newsletter-input {
        font-size: 7px;
        padding: 6px 9px 2px 9px;
    }

    .send-newsletter {
        font-size: 10px;
        padding: 3px 5px 2px 6px;
    }

    .footer-cards-wrapped {
        padding: 3rem 3rem 1rem 3rem;
    }

    .copyright-wrapped {
        padding: 0 3rem;
    }

}

@media (max-width: 767.98px) {

    /* header */
    .main-nav {
        padding: 20px 10px 35px 10px;
    }

    .hero-image img {
        max-width: 100%;
    }

    .hero-header {
        font-size: 25px;
        margin-bottom: 0 !important;
    }

    .sub-header {
        font-size: 11px;
    }

    .search-box {
        font-size: 7px;
        padding: 5px 10px;
    }

    .search i {
        font-size: 10px;
        padding: 7px 3px;
    }

    .search::after {
        top: 115px;
        right: 15px;
        width: 28px;
        height: 27px;
    }

    .start-search {
        bottom: 6rem;
    }

    /* Transparent Rec */

    .tr-text-container {
        padding: 1.5rem 1rem;
    }

    /* Experts */

    .left {
        margin-left: 10px !important;
        margin-right: 15px !important;
        max-width: 45%;
    }

    .right {
        margin-left: 15px !important;
        margin-right: 10px !important;
        max-width: 45%;
    }

    .card-deck {
        justify-content: space-between;
    }

    .cards-link p {
        font-size: 9px;
    }

    .circle-outline {
        width: 30px;
        height: 30px;
    }

    .cards-link i {
        font-size: 11px;
    }

    .card-list a {
        padding: 6px 0 0 0;
    }

    /* top talent */
    .flex {
        padding-right: 0 !important;
    }

    .talent-text-container {
        padding: 1rem 0 0rem 2rem;
    }

    .talent-header {
        font-size: 20px;
    }

   

    /* best companies */

    .best-companies {
        padding: 5rem 0 2rem 0;
    }

    .best-companies .row {
        margin: 0 !important;
        padding-left: 0 !important;
    }

    .play-btn {
        bottom: 7rem;
        left: 19rem;
    }

    .best-text-container {
        padding: 3rem 3rem;
    }

    /* latest roles */

    .lr-sub {
        font-size: 12px;
        width: 50%;
    }

    .latest-page-padding {
        padding: 0px 3rem;
    }

    .slide-container {
        margin: 0 3rem;
    }

    /* reviews */

    .review-card-body h5 {
        font-size: 14px;
    }

    .card-text {
        font-size: 9px;
    }

    .review-name {
        font-size: 12px;
    }

    .review-role {
        font-size: 11px;
    }
    
    /* latest insights */

    .insight-card-txt {
        top: 5px;
    }

    .insight-card-wrapped h5 {
        font-size: 12px;
        line-height: 1rem;
        padding: 0;
        margin-bottom: 1px;
    }

    .insight-card-wrapped p {
        font-size: 9px;
    }

    .insight-btn-txt {
        font-size: 9px !important;
    }

    .circle-outline {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .insight-card-btn {
        bottom: 7px;
    }

    /* contact us */

    .contact-us-wrapped {
        margin-top: 5rem;
        margin-bottom: 1rem !important;
    }
    
    .conversation-text {
        font-size: 30px;
        margin-bottom: 2rem;
    }

    .lets-talk {
        width: 65%;
    }
    /* footer */
    .footer-cards-wrapped .col {
        padding-left: 0 !important;
    }

    .newsletter {
        padding-right: 0 !important;
    }

    .footer-content-wrapped h4 {
        width: 100% !important;
        font-size: 10px;
    }

    .footer-content-wrapped .card-list a {
        font-size: 7px;
        padding: 5px 0;
    }

    .footer-content-wrapped p {
        font-size: 7px;
    }

    .footer-content-wrapped .mt-4 {
        margin-top: 0 !important;
    }

    .footer-social-icons i {
        padding-left: 6px;
    }

    .copyright-wrapped p {
        font-size: 5px;
    }

}

@media (max-width: 575.98px) {
    /* header */

    .header-top img {
        max-width: 55px;
    }

    .main-nav .nav-elements a {
        margin: 0 9px;
        font-size: 12px;
    }

    .dropbtn {
        margin: 0 7px;
        font-size: 12px;
    }

    .hamburger i {
        padding: 7px 3px;
        font-size: 14px;
    }

    .circle-hover:after {
        right: 15px;
        width: 30px;
        height: 30px;
    }

    .start-search-wrapped {
        min-width: 75%;
    }

    .start-search {
        left: -3rem;
    }

    .start-search h6 {
        font-size: 8px;
        margin: 0;
    }

    /* hero */

    .hero-image {
        padding: 0 !important;
    }

    .search-wrapped {
        display: none;
    }

    .hero-header {
        padding-bottom: 15px !important;
        font-size: 30px;
        margin-bottom: 0 !important;
        line-height: 25px;
    }

    .orange-line {
        top: 7.5rem;
        border-bottom: 2px solid #fc7753;
    }

    /* transparent recruitment */

    .trans-rec {
        flex-direction: column-reverse;
    }

    .trans-rec .col-5 {
        display: none;
    }

    .trans-rec .col-7 {
        max-width: 100%;
        padding: 0 !important;
    }

    .tr-text-container {
        padding: 2rem;
    }

    .experts h3 {
        font-size: 26px;
        padding-left: 15px;
    }

    .experts .card {
        max-width: 100%;
    }

    .experts .right {
        margin-bottom: 2rem;
    }

    /* top talent */

    .t-talent .col-7 {
        max-width: 100%;
        padding: 0 !important;
    }

    .t-talent .col-5 {
        display: none;
    }

    .t-talent {
        padding: 0 !important;
    }

    .t-talent .tt-main-row {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
    }

    .talent-text-container {
        padding: 2rem;
    }

    /* best companies */

    .best-img {
        right: 32px;
    }

    .play-btn {
        width: 40px;
        height: 40px;
        bottom: 4.5rem;
        left: 13.5rem;
    }

    .play-btn i {
        font-size: 18px;
        padding-left: 3px;
    }

    .best-right .circle-hover::after {
        right: 0px;
        width: 40px;
        height: 40px;
    }

    .best-text-container {
        padding: 2rem;
    }

    .best-header {
        font-size: 20px;
    }

    /* latest roles */

    .latest-page-padding {
        padding: 0px 2rem;
    }

    .lr-sub {
        font-size: 10px;
        width: 60%;
    }

    .latest-page-padding .small-btn p {
        font-size: 7px;
    }

    .slide-container {
        margin: 0 2rem;
    }

    /* reviews */

    .reviews-header {
        font-size: 20px;
        padding: 2rem 0;
        text-align: center;
    }

    .review-card-img {
        width: 35%;
    }
    
    .review-card-body h5 {
        font-size: 18px;
    }

    .card-text {
        font-size: 12px;
    }

    .review-name {
        font-size: 15px;
    }

    .review-role {
        font-size: 13px;
    }
    
    /* latest insights */

    .latest-insights {
        padding: 0 !important;
    }

    .page-padding {
        padding: 3rem 2rem;
    }

    .latest-insights h3 {
        font-size: 22px;
    }

    .self-employed-card {
        padding: 1rem 0;
        width: 100%;
    }

    .insight-card-wrapped {
        width: 100%;
    }

    .insight-card-txt {
        top: 30px;
    }

    .insight-card-btn {
        bottom: 35px;
    }

    .insight-card-wrapped small {
        font-size: 15px;
    }

    .insight-card-wrapped h5 {
        font-size: 30px;
        line-height: 2.5rem;
        padding: 0;
        margin: 2rem 0;
    }

    .insight-card-wrapped p {
        font-size: 22px;
    }

    .insight-btn-txt {
        font-size: 15px !important;
    }

    .circle-outline {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    .conversation-text {
        font-size: 20px;
    }

    .contact-us-wrapped .pt-4 {
        display: flex;
        flex-direction: column;
    }

    .lets-talk {
        width: 100%;
        text-align: center;
        font-size: 15px;
        margin-bottom: 2rem;
    }

    .contact-us-wrapped .small-btn {
        padding: 0 !important;
    }

    /* footer */

    .web {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
    }

    .footer-cards-wrapped {
        padding: 3rem 3rem 5rem 3rem;
    }

    .q-links {
        padding: 0 !important;
    }

    .industries {
        padding: 1rem 0;
    }

    .footer-content-wrapped h4 {
        font-size: 15px;
    }    

    .footer-content-wrapped p {
        font-size: 8px;
        padding-bottom: 5px;
    }
    
    .newsletter-input {
        padding: 3px 9px 2px 9px;
    }    

    .send-newsletter {
        padding: 3px 6px 3px 6px;
    }

    .footer-content-wrapped .card-list a {
        font-size: 8.5px;
    }

    .copyright-wrapped {
        padding: 0 1rem;
    }

    .copyright-wrapped p {
        font-size: 3.5px;
    }
    
}