@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&display=swap');

/* generic styles */
.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    color: #293135;
}

a:hover {
    text-decoration: none;
    color: #fc7753;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #293235;
}

.m-header {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.sub-header {
    font-weight: 300;
    font-size: 22px;
}

.pad-t {
    padding-top: 50px;
}

.pad-b {
    padding-bottom: 50px;
}

.orange-bg {
    background: #fc7753;
}

.green-bg {
    background: #03363D;
}

.white-txt {
    color: #fff;
}

.padding60-0 {
    padding: 60px 0;
}

.page-padding {
    padding: 5rem 10rem;
}

.text-orange {
    color: #fc7753;
}

form {
    width: 100%;
}

hr {
    border-top: 1px solid #293135;
}

.max-100 {
    max-width: 100%;
}

/* header */
.main-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 35px 30px;
}

.header-top img {
    width: 100%;
    max-width: 130px;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.main-nav .nav-elements a {
    margin: 0 15px;
    font-size: 15px;
    color: #03363D;
}

.hamburger {
    border: 0;
    border-radius: 50%;
    margin-left: 15px;
}

.hamburger i {
    padding: 10px 7px;
    font-size: 20px;
}

/* sidebar */

.start-search {
    position: absolute;
    bottom: 2rem;
    left: -4rem;
    display: flex;
    flex-direction: row;
    color: #fc7753;
    align-items: center;
    z-index: 10;
}

.start-search h6 {
    font-size: 12px;
    margin: 0;
}

.rotate {
    transform: rotate(-90deg);
}

.arrow-img {
    transform: rotate(90deg);
    margin-right: 3rem;
}
  


/* hero page */

.hero-page {
    background: #f7f4ef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header {
    font-size: 52px;
}

.search-wrapped {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.search {
    border: 0;
    border-radius: 50%;
    margin-left: 15px;
}

.search i {
    padding: 10px 5px;
    font-size: 15px;
}

.search-box {
    border: 1px solid #7C9088;
    border-radius: 25px;
    font-size: 15px;
    width: 60%;
    color: #293135;
    padding: 5px 15px;
}

.hero-image img {
    max-width: 70%;
}

.orange-line {
    border-bottom: 4px solid #fc7753;
    width: 55%;
    position: absolute;
    top: 9rem;
    z-index: 10;
    left: 6rem;
}

/* Transparent Recruitment */

.tr-img {
    max-width: 100%;
}

.tr-img img {
    width: 100%;
}

.tr-text-container {
    padding: 5rem 10rem;
}

.tr-text-container h3{
    font-size: 25px;
}

.white-hr {
    border: 0.5px solid #fff;
}

.pt-2r {
    padding-top: 2rem;
}

.circle-outline {
    border: 1px solid #fc7753;
    background: transparent;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
}

.circle-outline i {
    color: #fc7753;
}

.small-btn p {
    font-size: 15px;
}

/* Experts */


.card {
    background: transparent;
    border: none;
}

.card-body {
    flex: 0;
    background: #f7f4ef;
}

.card-text {
    font-size: 11px;
}

.cards-link p{
    font-size: 11px;
}

.cards-link i {
    font-size: 13px;
}

.card-list hr {
    border-top: 1px solid #293135;
    margin: 0;
}

.card-list a {
    color: #293135;
    font-size: 11px;
    display: block;
    padding: 10px 0;
    background: #f7f4ef;
    transition: all .5s;
}

.card-list a:hover {
    color: #fc7753 !important;
    background-color: #e6e7e1;
}

.card-list .icon {
    font-size: 13px;
}

/* Top Talent */
.tt-main-row {
    max-width: 100%;
}

.talent-text-container {
    padding: 5rem 6rem;
}

/* Best Companies */

.best-companies {
    padding: 5rem 0;
}

.best-comp-left {
    max-width: 80%;
}

.b-img-left {
    position: relative;
}

.b-img-left img {
    position: absolute;
    right: 0;
}


.best-img {
    padding-left: 0;
    position: relative;
    right: -15px;
}

.best-img img {
    width: 95%;
    position: relative;
}

.best-text-container {
    padding: 5rem 8rem 0 7rem;
}

.best-right {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.play-btn {
    position: absolute;
    background: #fc7753;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 8rem;
    left: 21rem;
}

.play-btn i {
    font-size: 25px;
    color: #fff;
    padding-left: 5px;
}

/* Latest Roles */
.latest-page-padding {
    max-width: 100%;
    padding: 0 10rem;
    margin-bottom: 5rem;
}

.lr-sub {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
}

.latest-roles-title {
    margin-bottom: 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.latest-roles-wage {
    font-weight: 600;
    color: #17494D;
    font-size: 12px;
}

.latest-roles-text {
    
}